@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
 
  }
}

body {
  color: rgb(var());
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var())
    )
    rgb(var());
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
